.adminCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin: 15px;
  width: 450px; /* 수정용 카드는 좀 더 크게 */
}

.title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.rankEditor {
  margin-bottom: 15px;
}

.rankLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #007bff;
}

.inputGrid {
  display: grid;
  grid-template-columns: 1fr 100px; /* 이름/URL, 점수 */
  grid-template-rows: 1fr 1fr; /* 2줄로 */
  gap: 10px;
  grid-template-areas: 
    "name score"
    "url url";
}

.input {
  grid-area: name;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inputScore {
  grid-area: score;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inputUrl {
  grid-area: url;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}